<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" />
    </h1>
  </header>

  <section class="sheet-body" style="padding: 10px; display: grid; gap: 10px;">

    <label>Buff 1</label>
    <select name="system.race_buff_1">
      {{#each (array "letality" "dexterity" "impulse" "arcana" "erudition" "virtue") as |val|}}
        <option value="{{val}}" {{#if (eq val ../item.system.race_buff_1)}}selected{{/if}}>{{val}}</option>
      {{/each}}
    </select>

    <label>Buff 2</label>
    <select name="system.race_buff_2">
      {{#each (array "letality" "dexterity" "impulse" "arcana" "erudition" "virtue") as |val|}}
        <option value="{{val}}" {{#if (eq val ../item.system.race_buff_2)}}selected{{/if}}>{{val}}</option>
      {{/each}}
    </select>

    <label>Movimento</label>
    <input type="number" name="system.race_movement" value="{{item.system.race_movement}}" />

    <label>Maestria da Raça</label>
    <input type="text" name="system.race_maestry" value="{{item.system.race_maestry}}" />

  </section>
</form>
